<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SST"
        tools:targetApi="31">
        <activity
            android:name=".services.assessor.assessor_service_13"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_12"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_11"
            android:exported="false" />
        <activity
            android:name=".services.assessor.Massessor_service_11"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_10"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_9"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_8"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_7"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_6"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_5"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_4"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_3"
            android:exported="false" />
        <activity
            android:name=".postScreen"
            android:exported="true"
            android:theme="@style/Theme.AnimatedSplash.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.assessor.assessor_service_2"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAssessorsOffice"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_13"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_12"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_11"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_10"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_9"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_8"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_7"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_6"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_5"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_4"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_3"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_2"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAgricultureOffice"
            android:exported="false" />
        <activity
            android:name=".services.administrator.administrator_service_2"
            android:exported="false" />
        <activity
            android:name=".services.administrator.administrator_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAdministratorOffice"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_7"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_6"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_5"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_4"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_3"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_2"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAccountingOffice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>