<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SST"
        tools:targetApi="31">
        <activity
            android:name=".office.MPDO"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_in_ex_service_2"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_in_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_ex_service_5"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_ex_service_4"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_ex_service_3"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_ex_service_2"
            android:exported="false" />
        <activity
            android:name=".services.mpdo.mpdo_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".office.SENIOR"
            android:exported="false" />
        <activity
            android:name=".services.senior.senior_service_1"
            android:exported="false" />
        <activity
            android:name=".office.PESO"
            android:exported="false" />
        <activity
            android:name=".about"
            android:exported="false" />
        <activity
            android:name=".header"
            android:exported="false" />
        <activity
            android:name=".services.peso.peso_service_3"
            android:exported="false" />
        <activity
            android:name=".services.peso.peso_service_2"
            android:exported="false" />
        <activity
            android:name=".services.peso.peso_service_1"
            android:exported="false" />
        <activity
            android:name=".office.PWD"
            android:exported="false" />
        <activity
            android:name=".services.pwd.pwd_service_1"
            android:exported="false" />
        <activity
            android:name=".office.TOURISM"
            android:exported="false" />
        <activity
            android:name=".services.tourism.tourism_in_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".services.tourism.tourism_in_service_1"
            android:exported="false" />
        <activity
            android:name=".office.LYDO"
            android:exported="false" />
        <activity
            android:name=".services.lydo.lydo_service_2"
            android:exported="false" />
        <activity
            android:name=".services.lydo.lydo_service_1"
            android:exported="false" />
        <activity
            android:name=".office.LEDIPO"
            android:exported="false" />
        <activity
            android:name=".services.ledipo.internal.ledipo_in_service_1"
            android:exported="false" />
        <activity
            android:name=".services.ledipo.external.ledipo_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".office.LIGA"
            android:exported="false" />
        <activity
            android:name=".services.liga.liga_service_1"
            android:exported="false" />
        <activity
            android:name=".office.KitaotaoWaterSystem"
            android:exported="false" />
        <activity
            android:name=".services.kitaotaoWater.internal.water_in_service_2"
            android:exported="false" />
        <activity
            android:name=".services.kitaotaoWater.internal.water_in_service_1"
            android:exported="false" />
        <activity
            android:name=".services.kitaotaoWater.external.water_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".services.ipmr.ipmr_service_5"
            android:exported="false" />
        <activity
            android:name=".office.IPMR"
            android:exported="false" />
        <activity
            android:name=".services.ipmr.ipmr_service_4"
            android:exported="false" />
        <activity
            android:name=".services.ipmr.ipmr_service_3"
            android:exported="false" />
        <activity
            android:name=".services.ipmr.ipmr_service_2"
            android:exported="false" />
        <activity
            android:name=".services.ipmr.ipmr_service_1"
            android:exported="false" />
        <activity
            android:name=".office.BidsAndAwardsCommittee"
            android:exported="false" />
        <activity
            android:name=".services.bac.bac_service_3"
            android:exported="false" />
        <activity
            android:name=".services.bac.bac_service_2"
            android:exported="false" />
        <activity
            android:name=".services.bac.bac_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalMayorOffice"
            android:exported="false" />
        <activity
            android:name=".services.mayors.mayors_service_2"
            android:exported="false" />
        <activity
            android:name=".services.mayors.mayors_service_1"
            android:exported="false" />
        <activity
            android:name=".office.HumanResourceManagementOffice"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal_external.hrmo_int_ext_service_2"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal_external.hrmo_int_ext_service_1"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal.hrmo_int_service_4"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal.hrmo_int_service_3"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal.hrmo_int_service_2"
            android:exported="false" />
        <activity
            android:name=".services.hrmo.internal.hrmo_int_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalHealthOffice"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_16"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_15"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_14"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_13"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_12"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_11"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_10"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_9"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_8"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_7"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_6"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_5"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_4"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_3"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_2"
            android:exported="false" />
        <activity
            android:name=".services.mho.mho_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalGeneralServiceOffice"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_ex_service_3"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_ex_service_2"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_7"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_6"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_5"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_4"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_3"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_2"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_int_service_1"
            android:exported="false" />
        <activity
            android:name=".services.generalService.gso_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MENRO"
            android:exported="false" />
        <activity
            android:name=".services.menro.menro_ex_service_2"
            android:exported="false" />
        <activity
            android:name=".services.menro.menro_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalEngineeringOffice"
            android:exported="false" />
        <activity
            android:name=".services.engineering.engineering_service_2"
            android:exported="false" />
        <activity
            android:name=".services.engineering.engineering_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MDRRMO"
            android:exported="false" />
        <activity
            android:name=".services.mdrrmo.internal_external.mdrrmo_in_ex_service_4"
            android:exported="false" />
        <activity
            android:name=".services.mdrrmo.internal_external.mdrrmo_in_ex_service_3"
            android:exported="false" />
        <activity
            android:name=".services.mdrrmo.internal_external.mdrrmo_in_ex_service_2"
            android:exported="false" />
        <activity
            android:name=".services.mdrrmo.internal_external.mdrrmo_in_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".services.mdrrmo.external.mdrrmo_ex_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalCivilRegistryOffice"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_13"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_12"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_11"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_10"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_9"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_8"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_7"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_6"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_5"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_4"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_3"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_2"
            android:exported="false" />
        <activity
            android:name=".services.civilRegistry.civilRegistry_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalBusinessProcessingAndLicensingOffice"
            android:exported="false" />
        <activity
            android:name=".services.bplo.bplo_service_5"
            android:exported="false" />
        <activity
            android:name=".services.bplo.bplo_service_4"
            android:exported="false" />
        <activity
            android:name=".services.bplo.bplo_service_3"
            android:exported="false" />
        <activity
            android:name=".services.bplo.bplo_service_2"
            android:exported="false" />
        <activity
            android:name=".services.bplo.bplo_service_1"
            android:exported="false" />
        <activity
            android:name=".services.budget.budget_service_2"
            android:exported="false" />
        <activity
            android:name=".services.budget.budget_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalBudgetOffice"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_13"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_12"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_11"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_10"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_9"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_8"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_7"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_6"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_5"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_4"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_3"
            android:exported="false" />
        <activity
            android:name=".postScreen"
            android:exported="true"
            android:theme="@style/Theme.AnimatedSplash.MySplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".services.assessor.assessor_service_2"
            android:exported="false" />
        <activity
            android:name=".services.assessor.assessor_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAssessorsOffice"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_13"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_12"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_11"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_10"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_9"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_8"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_7"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_6"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_5"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_4"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_3"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_2"
            android:exported="false" />
        <activity
            android:name=".services.agriculture.agriculture_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAgricultureOffice"
            android:exported="false" />
        <activity
            android:name=".services.administrator.administrator_service_2"
            android:exported="false" />
        <activity
            android:name=".services.administrator.administrator_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAdministratorOffice"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_7"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_6"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_5"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_4"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_3"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_2"
            android:exported="false" />
        <activity
            android:name=".services.accounting.accounting_service_1"
            android:exported="false" />
        <activity
            android:name=".office.MunicipalAccountingOffice"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>